@import '../styles/variables';

// .nav {
//   background-color: $color-text;
//   color: $color-primary;
//   display: inline-block;
//   margin: 0;
//   padding: 20px;
//   text-align: right;
//   width: 100%;

//   li {
//     display: inline;
//     margin: 50px;

//     a {
//       color: $color-secondary;
//       text-decoration: none;

//       &:hover {
//         background-color: $color-accent;
//         padding: 10px;
//       }
//     }
//   }
// }

@media screen and (min-width: 320px) {

  .container {
    display: grid;
    grid-template-columns: .9fr 1.1fr;
    grid-template-areas: 'left right';
    background-color: $color-text;
    color: $color-primary;
  
    .nav{
      grid-area: right;
      

      .menu {
        display: none;
        font-size: 50px;
        border: none;
        background: none;
        border-bottom: 3px solid $color-text-outline;
      }

      .list {
        display: none;
        padding-inline-start: 0px;
      }

      .menu:checked ~.list {
        display: block;
        
      }

      li {
        list-style-type: none;

        a {
          color: $color-secondary;
          text-decoration: none;
    
          &:hover {
            color: $color-accent;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'left center right';
    .nav {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;

      button {
        display: none;
      }

      li {
        text-align: center;
      }
    }
  }
}