@import '../styles/variables';

@media screen and (min-width: 320px){
 
  .container{
    margin-bottom:0%;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 1fr;
    grid-template-areas:
    "foo"
    "donate"
    "request";
  }

  h1{
    margin-top:1%;
    margin-bottom:1%;
  }
  
  .fooDriver, .easyDonate, .easyRequest{
    align-content:center;
    display: grid;
    padding:0% 10% 0% 10%;
    grid-area:foo;
    grid-template-columns: 1fr;
    grid-template-rows: auto .5fr 1fr;
    grid-template-areas: 
   "h1"
   "p"
   "img";

    p {
      grid-area:p;
      margin-top:0%;
      // outline:1px solid $color-text-outline;
      // overflow: scroll;
    }

   img{
      grid-area:img;
      width: 300px;
      height: 200px;
    }
  }


  .easyDonateXXX{
    align-content:center;
    padding:0% 10% 0% 10%;
    display: grid;
    grid-area:donate;
    grid-template-columns: 1fr;
    grid-template-rows: auto .5fr 1fr;
    grid-template-areas: 
    "h1"
    "p"
    "img";

    p {
      grid-area:p;
      margin-top:0%;
      // outline:1px solid $color-text-outline;
      // overflow: scroll;
    }

    img{
      grid-area:img;
      width: 300px;
      height: 200px;
    }
  }

  .easyRequestXXX{
  
    align-content:center;
    display: grid;
    // margin-bottom:0%;
    padding:0% 10% 0% 10%;
    grid-area:request;
    grid-template-columns: 1fr;
    grid-template-rows: auto .5fr 1fr;
    grid-template-areas: 
    "h1"
    "p"
    "img";

    p {
      grid-area:p;
      margin-top:0%;
      // outline:1px solid $color-text-outline;
      // overflow: scroll;
    }


    img{
      grid-area:img;
      width: 300px;
      height: 200px;
      // margin-bottom:0%;
    }

  }
 
}



@media screen and (min-width: 768px) {

  .container{
  
    //width:0%;
    // margin-bottom:0%;
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: auto 1fr 1fr;
    grid-template-areas:
    "foo foo"
    "donate donate"
    "request request"
  
  }

    .fooDriver, .easyDonate, .easyRequest{

      padding-bottom:0%;
      grid-area:foo;
      display: grid;
      // grid-template-columns: 1fr 1fr;
      grid-template-rows: 0fr 1fr;
      grid-template-areas: 
      "h1 h1"
      "p img";

      p {
        grid-area:p;
       padding-top:1em;
       padding-right:1em;
      }
    
    }
    .easyDonate {
      grid-area:donate;
    }
    .easyRequest {
      grid-area:request;
    }

    .easyDonateXXX{
      // padding-bottom:0%;
      // margin-bottom:0%;
      grid-area:donate;
      display: grid;
      // grid-template-columns: 1fr 1fr;
      grid-template-rows: 0fr 1fr;
      grid-template-areas: 
      "h1 h1"
      "p img";

      p {
        grid-area:p;
       padding-top:1em;
       padding-right:1em;
      }

    }
  
    .easyRequestXXX{
      padding-top:0%;
      padding-bottom:10%;
// margin-bottom:10%;
      grid-area:request;
      display: grid;
      // grid-template-columns: 1fr 1fr;
      grid-template-rows: 0fr 1fr;
      grid-template-areas: 
      "h1 h1"
      "p img";

      p {
        grid-area:p;
       padding-top:1em;
       padding-right:1em;
      }
  
    }
  
}



