@import '../styles/variables';

.heroContainer {
  position: relative;
  text-align: center;
  width: 100%;
}

.heroImage {
  width: 100%;
}

.heroTitle {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.2em;
  color: black;
}

.heroContent {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  width: 70%;
}

.heroText {
  display: inline-block;
  width: 40%;
  vertical-align: top;
  padding: 5%;
  font-size: 1.2em;
  text-align: left;
}

.heroContent img {
  display: inline-block;
  width: 40%;
  padding: 5%;
}

.extraHeroText {
  display: none;
}

.extraBelowText {
  display: none;
}

.belowText {
  display: block;
  text-align: center;
  padding: 0 10%;
}

@media screen and (max-width: 800px) {

  .heroTitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.2em;
    color: black;
  }

  .heroContent {
    display: none;
  }

  .extraBelowText {
    display: block;
    text-align: center;
    padding: 0 10%;
  }

  .belowText {
    display: block;
    text-align: center;
    padding: 0 10%;
  }

}

@media screen and (min-width: 1300px) {
  .heroContainer {
    background-color: $color-secondary;
  }

  .heroText {
    font-size: 1.7em;
  }

  .heroTitle {
    font-size: 4em;
  }

  .extraHeroText {
    display: block;
  }

  .extraBelowText {
    display: none;
  }

  .belowText {
    display: none;
  }

}
