//Colors
$button-highlights: #4f6339;
$primary-text:#493932;
$secondery-color:#2e303e;
$offwhite:#ece8d3;


//Fonts
$font-stack-primary: 'Lato', sans-serif;;
$font-stack-secondary: 'Lato', serif;

//Box Shadow
$shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.19);


