.login {
  display: grid;
  grid-template-columns: 80%;
  align-content: center;
  align-items: stretch;
  margin-left: 16%;
  margin-top: 10%;
  margin-bottom: 14%;
  color: rgb(47, 48, 47);
}

@media (min-width: 650px) {
  .login {
    grid-template-columns: repeat(2, minmax(150px, 30%));
    margin-left: 28%;
  }
  h2, .form {
    grid-column-end: span 2;
    width: auto;
  }
  .form > div {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
  }
  .form > div.actions {
    grid-template-columns: 1fr 1fr 1fr;
  }
  input[type="submit"] {
    grid-column: 2;
    width: 40%;
  }
}

h2 {
  background-color: rgb(47, 48, 47);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 10px;
  font-size: 24px;
  line-height: 1.4;
  margin-bottom: 0px;
  color: rgb(183, 216, 125);
}

.form {
  background-color: rgba(183, 216, 125, .4);
  border: 1px solid rgba(183, 216, 125, .8);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.form > div {
  padding: 5px 0;
}

input[type="submit"] {
  border: 1px solid rgba(191, 216, 227, .8);
  border-radius: 5px;
  color: #fff;
  background-color: rgb(153, 186, 95);
  font-size: 110%;
  cursor: pointer;
}

input[type="submit"]:hover {
  border: 1px solid rgba(191, 216, 227, .8);
  color: #fff;
  background-color: rgb(123, 156, 65);
}

input[type="text"], input[type="password"] {
border: 1px solid rgba(191, 216, 227, .8);
padding: 5px;
border-radius: 5px;
font-size: 110%;
width: 95%;
}
